In [1]:
import pandas as pd
import numpy as np
import sklearn
from sklearn.model_selection import train_test_split

In [2]:
df=pd.read_csv("heart1.csv")

In [3]:
df

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0
5,39,M,NAP,120,339,0,Normal,170,N,0.0,Up,0
6,45,F,ATA,130,237,0,Normal,170,N,0.0,Up,0
7,54,M,ATA,110,208,0,Normal,142,N,0.0,Up,0
8,37,M,ASY,140,207,0,Normal,130,Y,1.5,Flat,1
9,48,F,ATA,120,284,0,Normal,120,N,0.0,Up,0
10,37,F,NAP,130,211,0,Normal,142,N,0.0,Up,0
11,58,M,ATA,136,164,0,ST,99,Y,2.0,Flat,1
12,39,M,ATA,120,204,0,Normal,145,N,0.0,Up,0
13,49,M,ASY,140,234,0,Normal,140,Y,1.0,Flat,1
14,42,F,NAP,115,211,0,ST,137,N,0.0,Up,0
15,54,F,ATA,120,273,0,Normal,150,N,1.5,Flat,0
16,38,M,ASY,110,196,0,Normal,166,N,0.0,Flat,1
17,43,F,ATA,120,201,0,Normal,165,N,0.0,Up,0
18,60,M,ASY,100,248,0,Normal,125,N,1.0,Flat,1
19,36,M,ATA,120,267,0,Normal,160,N,3.0,Flat,1
20,43,F,TA,100,223,0,Normal,142,N,0.0,Up,0
21,44,M,ATA,120,184,0,Normal,142,N,1.0,Flat,0
22,49,F,ATA,124,201,0,Normal,164,N,0.0,Up,0
23,44,M,ATA,150,288,0,Normal,150,Y,3.0,Flat,1
24,40,M,NAP,130,215,0,Normal,138,N,0.0,Up,0
25,36,M,NAP,130,209,0,Normal,178,N,0.0,Up,0
26,53,M,ASY,124,260,0,ST,112,Y,3.0,Flat,0
27,52,M,ATA,120,284,0,Normal,118,N,0.0,Up,0
28,53,F,ATA,113,468,0,Normal,127,N,0.0,Up,0
29,51,M,ATA,125,188,0,Normal,145,N,0.0,Up,0
...,...,...,...,...,...,...,...,...,...,...,...,...
888,52,M,ASY,128,204,1,Normal,156,Y,1.0,Flat,1
889,59,M,TA,134,204,0,Normal,162,N,0.8,Up,1
890,64,M,TA,170,227,0,LVH,155,N,0.6,Flat,0
891,66,F,NAP,146,278,0,LVH,152,N,0.0,Flat,0
892,39,F,NAP,138,220,0,Normal,152,N,0.0,Flat,0
893,57,M,ATA,154,232,0,LVH,164,N,0.0,Up,1
894,58,F,ASY,130,197,0,Normal,131,N,0.6,Flat,0
895,57,M,ASY,110,335,0,Normal,143,Y,3.0,Flat,1
896,47,M,NAP,130,253,0,Normal,179,N,0.0,Up,0
897,55,F,ASY,128,205,0,ST,130,Y,2.0,Flat,1
898,35,M,ATA,122,192,0,Normal,174,N,0.0,Up,0
899,61,M,ASY,148,203,0,Normal,161,N,0.0,Up,1
900,58,M,ASY,114,318,0,ST,140,N,4.4,Down,1
901,58,F,ASY,170,225,1,LVH,146,Y,2.8,Flat,1
902,58,M,ATA,125,220,0,Normal,144,N,0.4,Flat,0
903,56,M,ATA,130,221,0,LVH,163,N,0.0,Up,0
904,56,M,ATA,120,240,0,Normal,169,N,0.0,Down,0
905,67,M,NAP,152,212,0,LVH,150,N,0.8,Flat,1
906,55,F,ATA,132,342,0,Normal,166,N,1.2,Up,0
907,44,M,ASY,120,169,0,Normal,144,Y,2.8,Down,1
908,63,M,ASY,140,187,0,LVH,144,Y,4.0,Up,1
909,63,F,ASY,124,197,0,Normal,136,Y,0.0,Flat,1
910,41,M,ATA,120,157,0,Normal,182,N,0.0,Up,0
911,59,M,ASY,164,176,1,LVH,90,N,1.0,Flat,1
912,57,F,ASY,140,241,0,Normal,123,Y,0.2,Flat,1
913,45,M,TA,110,264,0,Normal,132,N,1.2,Flat,1
914,68,M,ASY,144,193,1,Normal,141,N,3.4,Flat,1
915,57,M,ASY,130,131,0,Normal,115,Y,1.2,Flat,1
916,57,F,ATA,130,236,0,LVH,174,N,0.0,Flat,1
917,38,M,NAP,138,175,0,Normal,173,N,0.0,Up,0

In [4]:
df.isnull().sum()

Age               0
Sex               0
ChestPainType     0
RestingBP         0
Cholesterol       0
FastingBS         0
RestingECG        0
MaxHR             0
ExerciseAngina    0
Oldpeak           0
ST_Slope          0
HeartDisease      0
dtype: int64

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 918 entries, 0 to 917
Data columns (total 12 columns):
Age               918 non-null int64
Sex               918 non-null object
ChestPainType     918 non-null object
RestingBP         918 non-null int64
Cholesterol       918 non-null int64
FastingBS         918 non-null int64
RestingECG        918 non-null object
MaxHR             918 non-null int64
ExerciseAngina    918 non-null object
Oldpeak           918 non-null float64
ST_Slope          918 non-null object
HeartDisease      918 non-null int64
dtypes: float64(1), int64(6), object(5)
memory usage: 86.1+ KB

In [6]:
one_hot_encode = pd.get_dummies(df,['Sex','ChestPainType','RestingECG','ExerciseAngina','ST_Slope'])

In [7]:
one_hot_encode.head()

,Age,RestingBP,Cholesterol,FastingBS,MaxHR,Oldpeak,HeartDisease,Sex_F,Sex_M,ChestPainType_ASY,...,ChestPainType_NAP,ChestPainType_TA,RestingECG_LVH,RestingECG_Normal,RestingECG_ST,ExerciseAngina_N,ExerciseAngina_Y,ST_Slope_Down,ST_Slope_Flat,ST_Slope_Up
0,40,140,289,0,172,0.0,0,0,1,0,...,0,0,0,1,0,1,0,0,0,1
1,49,160,180,0,156,1.0,1,1,0,0,...,1,0,0,1,0,1,0,0,1,0
2,37,130,283,0,98,0.0,0,0,1,0,...,0,0,0,0,1,1,0,0,0,1
3,48,138,214,0,108,1.5,1,1,0,1,...,0,0,0,1,0,0,1,0,1,0
4,54,150,195,0,122,0.0,0,0,1,0,...,1,0,0,1,0,1,0,0,0,1

In [8]:
one_hot_encode.columns

Index(['Age', 'RestingBP', 'Cholesterol', 'FastingBS', 'MaxHR', 'Oldpeak',
       'HeartDisease', 'Sex_F', 'Sex_M', 'ChestPainType_ASY',
       'ChestPainType_ATA', 'ChestPainType_NAP', 'ChestPainType_TA',
       'RestingECG_LVH', 'RestingECG_Normal', 'RestingECG_ST',
       'ExerciseAngina_N', 'ExerciseAngina_Y', 'ST_Slope_Down',
       'ST_Slope_Flat', 'ST_Slope_Up'],
      dtype='object')

In [9]:
one_hot_encode=one_hot_encode[['Age', 'Sex_F', 'Sex_M', 'ChestPainType_ASY', 'ChestPainType_ATA', 'ChestPainType_NAP', 'ChestPainType_TA', 'RestingBP', 'Cholesterol', 'FastingBS', 'RestingECG_LVH', 'RestingECG_Normal', 'RestingECG_ST', 'MaxHR', 'ExerciseAngina_N', 'ExerciseAngina_Y', 'Oldpeak', 'ST_Slope_Down', 'ST_Slope_Flat', 'ST_Slope_Up' ,'HeartDisease']]

In [10]:
one_hot_encode.columns

Index(['Age', 'Sex_F', 'Sex_M', 'ChestPainType_ASY', 'ChestPainType_ATA',
       'ChestPainType_NAP', 'ChestPainType_TA', 'RestingBP', 'Cholesterol',
       'FastingBS', 'RestingECG_LVH', 'RestingECG_Normal', 'RestingECG_ST',
       'MaxHR', 'ExerciseAngina_N', 'ExerciseAngina_Y', 'Oldpeak',
       'ST_Slope_Down', 'ST_Slope_Flat', 'ST_Slope_Up', 'HeartDisease'],
      dtype='object')

In [11]:
y=one_hot_encode['HeartDisease']

In [12]:
y.head()

0    0
1    1
2    0
3    1
4    0
Name: HeartDisease, dtype: int64

In [13]:
X=one_hot_encode.drop(["HeartDisease"], axis=1)

In [14]:
X.head()

,Age,Sex_F,Sex_M,ChestPainType_ASY,ChestPainType_ATA,ChestPainType_NAP,ChestPainType_TA,RestingBP,Cholesterol,FastingBS,RestingECG_LVH,RestingECG_Normal,RestingECG_ST,MaxHR,ExerciseAngina_N,ExerciseAngina_Y,Oldpeak,ST_Slope_Down,ST_Slope_Flat,ST_Slope_Up
0,40,0,1,0,1,0,0,140,289,0,0,1,0,172,1,0,0.0,0,0,1
1,49,1,0,0,0,1,0,160,180,0,0,1,0,156,1,0,1.0,0,1,0
2,37,0,1,0,1,0,0,130,283,0,0,0,1,98,1,0,0.0,0,0,1
3,48,1,0,1,0,0,0,138,214,0,0,1,0,108,0,1,1.5,0,1,0
4,54,0,1,0,0,1,0,150,195,0,0,1,0,122,1,0,0.0,0,0,1

In [15]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, stratify= y, random_state=10)

In [16]:
X_train.head()

,Age,Sex_F,Sex_M,ChestPainType_ASY,ChestPainType_ATA,ChestPainType_NAP,ChestPainType_TA,RestingBP,Cholesterol,FastingBS,RestingECG_LVH,RestingECG_Normal,RestingECG_ST,MaxHR,ExerciseAngina_N,ExerciseAngina_Y,Oldpeak,ST_Slope_Down,ST_Slope_Flat,ST_Slope_Up
96,43,0,1,0,1,0,0,142,207,0,0,1,0,138,1,0,0.0,0,0,1
350,53,0,1,1,0,0,0,120,0,1,0,1,0,120,1,0,0.0,0,1,0
147,43,1,0,0,1,0,0,120,249,0,0,0,1,176,1,0,0.0,0,0,1
808,35,0,1,1,0,0,0,126,282,0,1,0,0,156,0,1,0.0,0,0,1
76,32,0,1,1,0,0,0,118,529,0,0,1,0,130,1,0,0.0,0,1,0

In [17]:
X_test.head()

,Age,Sex_F,Sex_M,ChestPainType_ASY,ChestPainType_ATA,ChestPainType_NAP,ChestPainType_TA,RestingBP,Cholesterol,FastingBS,RestingECG_LVH,RestingECG_Normal,RestingECG_ST,MaxHR,ExerciseAngina_N,ExerciseAngina_Y,Oldpeak,ST_Slope_Down,ST_Slope_Flat,ST_Slope_Up
338,63,0,1,1,0,0,0,140,0,1,1,0,0,149,1,0,2.0,0,0,1
445,55,0,1,0,0,1,0,136,228,0,0,0,1,124,0,1,1.6,0,1,0
288,48,1,0,0,1,0,0,133,308,0,0,0,1,156,1,0,2.0,0,0,1
312,41,0,1,1,0,0,0,125,0,1,0,1,0,176,1,0,1.6,0,0,1
784,65,0,1,0,0,0,1,138,282,1,1,0,0,174,1,0,1.4,0,1,0

In [18]:
y_train.head()

96     0
350    1
147    0
808    1
76     1
Name: HeartDisease, dtype: int64

In [19]:
y_test.head()

338    1
445    1
288    0
312    1
784    1
Name: HeartDisease, dtype: int64

In [20]:
from sklearn.naive_bayes import GaussianNB          #applying Navie-bayes algorithm
gnb = GaussianNB()

In [21]:
gnb.fit(X_train, y_train)

GaussianNB(priors=None, var_smoothing=1e-09)

In [22]:
y_pred = gnb.predict(X_test)

In [23]:
print(y_pred)

[1 1 0 1 0 0 1 1 1 1 1 0 0 1 0 1 0 0 1 1 1 0 1 1 1 1 0 1 1 0 1 0 0 0 0 0 0
 0 0 1 1 0 1 1 0 1 0 1 0 0 0 1 1 1 0 1 0 0 1 1 1 1 1 0 1 1 0 0 0 0 1 1 0 1
 1 0 1 1 1 0 1 0 1 0 1 0 1 1 0 0 1 0 1 1 0 0 1 1 0 1 0 1 1 1 0 1 0 1 1 1 0
 1 0 0 0 0 1 1 1 1 1 1 1 0 1 0 1 1 1 1 1 0 0 1 0 1 0 0 1 1 1 0 0 1 0 1 1 1
 1 0 0 1 1 1 0 0 1 1 0 1 1 0 0 1 1 0 1 1 1 1 1 1 1 1 0 1 0 0 0 0 0 1 0 0]

In [24]:
print(y_test)

338    1
445    1
288    0
312    1
784    1
878    0
134    0
11     1
340    1
632    1
298    1
208    0
827    0
565    1
285    0
848    1
802    0
857    0
341    1
225    1
542    1
616    0
592    1
468    1
252    0
572    1
6      0
479    1
900    1
113    0
      ..
114    0
145    0
138    1
82     1
110    0
646    0
707    1
197    0
906    0
328    1
358    1
658    0
531    1
454    1
685    1
131    1
520    0
451    1
331    1
433    1
24     0
263    1
687    0
48     0
283    0
212    0
789    0
864    1
751    0
591    0
Name: HeartDisease, Length: 184, dtype: int64

In [25]:
from sklearn.metrics import confusion_matrix      #confusion matrix for y_test and y_pred
matrix = confusion_matrix(y_test, y_pred)
print(matrix)

[[69 13]
 [10 92]]

In [26]:
gnb.score(X_test,y_test)                           #having 87% accuracy for this data set

0.875

In [27]:
import pickle
filename = 'predict-HeartDisease.pkl'
pickle.dump(gnb,open(filename,'wb'))